/* Styles go here */

* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
	background-color: #FAFAFA;
}

.container {
	width: 760px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

h1 {
	text-align: center;
	font-size: 36px;
	padding: 10px;
	margin: 20px 0;
}

ul li {
	list-style: none;
	border: rgba(20, 20, 20, 0.2) 1px solid;
	padding: 10px;
	min-height: 20px;
	margin-bottom: 5px;
}

i.deleteBtn {
	float: right;
}

#addTodoInputText {
	margin: 10px 0;
	padding: 5px;
	width: 300px;
}

.changeTodoTextInput {
	border: rgba(20, 20, 20, 0.5) 1px solid;
}

.todoListIsEmpty {
	text-align: center;
	font-size: 24px;
	color: rgba(110, 110, 110, 0.8);
	padding: 20px;
	margin: 50px 0;
}

.fa-check-square-o, .fa-square-o {
	color: #B4EAAF;
	margin-right: 10px;
}

.fa-close {
	color:#FF0018;
}